In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
#from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split as tts
from sklearn.ensemble import RandomForestClassifier as rfc

In [22]:
train = pd.read_csv(r"C:\Users\hp\Desktop\titanic problem\New folder\Notebook\clean_train.csv")
test = pd.read_csv(r"C:\Users\hp\Desktop\titanic problem\New folder\Notebook\clean_test.csv")

In [23]:
train

,2,3,male,1,2.1,3.1,4,5,8,1.1,...,4.1,5.1,6,9,Q,S,PassengerId,Survived,Age,Fare
0,0,1,1,1,0,0,0,0,0,0,...,0,0,0,0,0,1,1,0.0,22.000000,7.2500
1,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,2,1.0,38.000000,71.2833
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,3,1.0,26.000000,7.9250
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,4,1.0,35.000000,53.1000
4,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,5,0.0,35.000000,8.0500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,887,0.0,27.000000,13.0000
887,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,888,1.0,19.000000,30.0000
888,0,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,889,0.0,29.881138,23.4500
889,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,890,1.0,26.000000,30.0000
890,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,891,0.0,32.000000,7.7500

### We have to drop PassengerId column from both our sets.

In [24]:
train = train.drop(["PassengerId"], axis = 1)
id_ = test["PassengerId"] 
test = test.drop(["PassengerId"], axis = 1)

Y = train["Survived"]
train = train.drop(["Survived"], axis = 1)
test = test.drop(["Survived"], axis = 1)
X = train.copy()
X_test = test.copy()

In [26]:
X

,2,3,male,1,2.1,3.1,4,5,8,1.1,2.2,3.2,4.1,5.1,6,9,Q,S,Age,Fare
0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,22.000000,7.2500
1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,38.000000,71.2833
2,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,26.000000,7.9250
3,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,35.000000,53.1000
4,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,35.000000,8.0500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,27.000000,13.0000
887,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,19.000000,30.0000
888,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,29.881138,23.4500
889,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,26.000000,30.0000
890,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,32.000000,7.7500

### Now we are going to use Random Forest Classifier as our model to fit the training set. Before that we split our Training set into train and cross validation set in order to prevent overfitting of our model and to check the performance of our model. Also for Random Forest Classifiers it is not required to do feature scaling or normalization of our Parameters

In [28]:
X_train, X_cv, Y_train, Y_cv = tts(X, Y, test_size = 0.25, random_state = 0)

### We use scikit learn library to implement random forest classifer. For this classifier we can play with many parameters such as max_depth, max_features, n_estimators, etc. And sometimes default values for them is not fit for our model. So in order to find perfect combination of parameters, we use Hyperparameter tuning. We will use GridSearchCV module for it. 
### Also we will use a 3 fold crossvalidation method.

In [29]:
from sklearn.model_selection import GridSearchCV

param_grid = {
    'bootstrap': [True],
    'max_depth': [80, 90, 100, 110],
    'max_features': [2, 3],
    'min_samples_leaf': [3, 4, 5],
    'min_samples_split': [8, 10, 12],
    'n_estimators': [100, 200, 300, 1000]
}
rf_cls = rfc()
grid_search = GridSearchCV(estimator = rf_cls, param_grid = param_grid, 
                           cv = 3, n_jobs = -1, verbose = 2)
grid_search.fit(X_train, Y_train)

Fitting 3 folds for each of 288 candidates, totalling 864 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  33 tasks      | elapsed:   53.1s
[Parallel(n_jobs=-1)]: Done 154 tasks      | elapsed:  1.6min
[Parallel(n_jobs=-1)]: Done 357 tasks      | elapsed:  2.9min
[Parallel(n_jobs=-1)]: Done 640 tasks      | elapsed:  4.7min
[Parallel(n_jobs=-1)]: Done 864 out of 864 | elapsed:  6.1min finished

GridSearchCV(cv=3, estimator=RandomForestClassifier(), n_jobs=-1,
             param_grid={'bootstrap': [True], 'max_depth': [80, 90, 100, 110],
                         'max_features': [2, 3], 'min_samples_leaf': [3, 4, 5],
                         'min_samples_split': [8, 10, 12],
                         'n_estimators': [100, 200, 300, 1000]},
             verbose=2)

In [30]:
grid_search.best_params_

{'bootstrap': True,
 'max_depth': 80,
 'max_features': 3,
 'min_samples_leaf': 4,
 'min_samples_split': 12,
 'n_estimators': 100}

In [32]:
pred_cv = grid_search.predict(X_cv)
from sklearn.metrics import classification_report
print(classification_report(Y_cv, pred_cv))

              precision    recall  f1-score   support

         0.0       0.82      0.94      0.87       139
         1.0       0.86      0.65      0.74        84

    accuracy                           0.83       223
   macro avg       0.84      0.80      0.81       223
weighted avg       0.83      0.83      0.82       223

### Our F1 score for cross validation set is 0.87 for y = 0 and 0.74 for y = 1
### Now we also check the f1 score of our training set in order to make sure if it is overfitting or not.

In [34]:
pred = grid_search.predict(X_train)
print(classification_report(Y_train, pred))

              precision    recall  f1-score   support

         0.0       0.81      0.96      0.88       410
         1.0       0.91      0.65      0.76       258

    accuracy                           0.84       668
   macro avg       0.86      0.80      0.82       668
weighted avg       0.85      0.84      0.83       668

### So it is seen that Our Train and CV F1 Scores are similar. This means our model did not actually overfit the training set.
### We fit our model on training set and then convert it into desired format required to submit our Predictions.

In [35]:
pred_test = grid_search.predict(X_test)

res = pd.DataFrame(data= [id_, pred_test], index= ["PassengerId", "Survived"])
result_ = res.transpose()
result_.to_csv(r"C:\Users\hp\Desktop\titanic problem\New folder\Notebook\result_rf.csv", index= False)

### Our Score comes out to be 0.77751 out of 1.00000